# segredos: NUNCA versionados
*.secret
*.token
.env
.env.*
!.env.example
cofre/

# dev local
infra/devdata/
__pycache__/
.pytest_cache/
*.pyc

# venv local de teste da Admin API
admin-api/.venv/
__pycache__/
